/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT   0
#define GAME      1
#define GALT      2
#define SYM       3
#define NAV       4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        ctl_alt_del: ctl_alt_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTL &kp LALT>
                , <&macro_tap &kp DEL>
                , <&macro_release &kp LCTL &kp LALT>
                ;
        };

        alt_f4: alt_f4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp F4>
                , <&macro_release &kp LALT>
                ;
        };

        arrow: arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&kp KP_MINUS &kp GT >
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------
// |  `    |  1  |  2  |  3   |  4   |  5   | |  6   |  7    |  8    |  9   |   0   | GAME  |
// ------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   | |  Y   |  U    |  I    |  O   |   P   |   \   |
// ------------------------------------------------------------------------------------------
// | ENTER |  A  |  S  |  D   |  F   |  G   | |  H   |  J    |  K    |  L   |   ;   |   '   |
// |       | gui | alt | shft | ctl  |      | |      |  ctl  | shft  | alt  |  gui  |       |
// ------------------------------------------------------------------------------------------
// |  NAV  |  Z  |  X  |  C   |  V   |  B   | |  N   |  M    |  ,    |  .   |   /   |  NAV  |
// ------------------------------------------------------------------------------------------
//                     | ESC  | SYM  | BSPC | | SPACE|  SYM  | ESC   |
//                     -----------------------------------------------                       
            bindings = <
&kp GRAVE   &kp N1     &kp N2     &kp N3      &kp N4     &kp N5           &kp N6    &kp N7     &kp N8      &kp N9     &kp N0        &tog GAME
&kp TAB     &kp Q      &kp W      &kp E       &kp R      &kp T            &kp Y     &kp U      &kp I       &kp O      &kp P         &kp BSLH
&kp ENTER   &hm LGUI A &hm LALT S &hm LSHFT D &hm LCTL F &kp G            &kp H     &hm LCTL J &hm LSHFT K &hm LALT L &hm LGUI SEMI &kp SQT
&mo NAV     &kp Z      &kp X      &kp C       &kp V      &kp B            &kp N     &kp M      &kp COMMA   &kp DOT    &kp FSLH      &mo NAV
                                  &kp ESC    &mo SYM     &kp BSPC         &kp SPACE &mo SYM    &kp ESC
            >;
        };

        game_layer {
// ------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   | |      |       |       |      |       |       |
// ------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  R   |  T   | |      |       |       |      |       |       |
// ------------------------------------------------------------------------------------------
// | GALT  |  A  |  S  |  D   |  F   |  G   | |      |       |       |      |       |       |
// ------------------------------------------------------------------------------------------
// | LSHIFT|  Z  |  X  |  C   |  V   |  B   | |      |       |       |      |       |       |
// ------------------------------------------------------------------------------------------
//                     | LCTL | ALT  |  SPC | |      |       |       |
//                     -----------------------------------------------                       
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5           &trans &trans &trans &trans &trans &trans
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T            &trans &trans &trans &trans &trans &trans
&mo GALT  &kp A  &kp S  &kp D    &kp F    &kp G            &trans &trans &trans &trans &trans &trans
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B            &trans &trans &trans &trans &trans &trans
                        &kp LCTL &kp LALT &kp SPACE        &trans &trans &trans 
            >;
        };

        gamealt_layer {
// ------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   | |      |       |       |      |       |       |
// ------------------------------------------------------------------------------------------
// |  TAB  |  Q  |  W  |  E   |  Y   |  U   | |      |       |       |      |       |       |
// ------------------------------------------------------------------------------------------
// |       |  A  |  S  |  D   |  H   |  J   | |      |       |       |      |       |       |
// ------------------------------------------------------------------------------------------
// | LSHIFT|  Z  |  X  |  C   |  N   |  M   | |      |       |       |      |       |       |
// ------------------------------------------------------------------------------------------
//                     |  ,   |  .   |  SPC | |      |       |       |
//                     -----------------------------------------------                       
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3    &kp N4   &kp N5           &trans &trans &trans &trans &trans &trans
&kp TAB   &kp Q  &kp W  &kp E     &kp Y    &kp U            &trans &trans &trans &trans &trans &trans
&trans    &kp A  &kp S  &kp D     &kp H    &kp J            &trans &trans &trans &trans &trans &trans
&kp LSHFT &kp Z  &kp X  &kp C     &kp N    &kp M            &trans &trans &trans &trans &trans &trans
                        &kp COMMA &kp DOT &kp SPACE         &trans &trans &trans 
            >;
        };

        symbol_layer {
// ------------------------------------------------------------------------------------------
// |  F1   | F2  | F3  | F4   | F5   |  F6  | |  F7  |  F8   |  F9   | F10  |  F11  |  F12  |
// ------------------------------------------------------------------------------------------
// |   ->  |  ^  |  #  |  {   |  }   |  &   | |  *   |   7   |   8   |  9   |   -   |   \   |
// ------------------------------------------------------------------------------------------
// |       |  <  |  >  |  (   |  )   |  |   | |  =   |   4   |   5   |  6   |   _   |   @   |
// ------------------------------------------------------------------------------------------
// |       |  $  |  %  |  [   |  ]   |  !   | |  +   |   1   |   2   |  3   |   /   |       |
// ------------------------------------------------------------------------------------------
//                     |      |      |      | |  0   |       |   .   |
//                     -----------------------------------------------                       
            bindings = <
&kp F1    &kp F2      &kp F3    &kp F4    &kp F5   &kp F6           &kp F7       &kp F8   &kp F9    &kp F10  &kp F11       &kp F12
&arrow    &kp CARET   &kp HASH  &kp LBRC  &kp RBRC &kp AMPS         &kp ASTRK     &kp N7   &kp N8    &kp N9   &kp KP_MINUS  &kp BSLH
&trans    &kp LT      &kp GT    &kp LPAR  &kp RPAR &kp PIPE         &kp EQUAL &kp N4   &kp N5    &kp N6   &kp UNDER     &kp AT
&trans    &kp DOLLAR  &kp PRCNT &kp LBKT  &kp RBKT &kp EXCL         &kp PLUS    &kp N1   &kp N2    &kp N3   &kp KP_DIVIDE &trans
                                &trans    &trans   &trans           &kp N0       &trans   &kp DOT
            >;
        };

        nav_layer {
// ------------------------------------------------------------------------------------------
// |  RST  |     |     |      |alt+f4|      | | BT1  |  BT2  |  BT3  | BT4  |  BT5  | BTCLR |
// ------------------------------------------------------------------------------------------
// | c+a+d |     |     |  V+  |      |      | | Home | PgDn  | PgUp  | End  | OUTUSB|       |
// ------------------------------------------------------------------------------------------
// |       |Prtsc| <<  | Play |  >>  |      | |  <   |   v   |  ^    |  >   | OUTBLE|       |
// ------------------------------------------------------------------------------------------
// |       |     |     |  V-  |      |      | | m<   |  mv   | m^    | m>   |       |       |
// ------------------------------------------------------------------------------------------
//                     | Mute |      | DEL  | |lclk | rclk  | mclk   |
//                     -----------------------------------------------                       
            bindings = <
&sys_reset   &trans    &trans     &trans       &alt_f4    &trans           &bt BT_SEL 0     &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
&ctl_alt_del &trans    &trans     &kp C_VOL_UP &trans     &trans           &kp HOME  &kp PG_DN &kp PG_UP &kp END   &out OUT_USB &trans
&trans       &kp PSCRN &kp C_PREV &kp C_PP     &kp C_NEXT &trans           &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &out OUT_BLE &trans
&trans       &trans    &trans     &kp C_VOL_DN &trans     &trans           &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_UP    &mmv MOVE_RIGHT    &trans &trans
                                  &kp C_MUTE   &trans     &kp DEL          &mkp MB1    &mkp MB2    &mkp MB3
            >;
        };

    };
};
